.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: #ef1337;
    color: #fff;
}

.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ef1337;
    transform: translateY(70px);
    transition:
        transform 500ms ease,
        background 500ms ease;
    -webkit-transition:
        transform 500ms ease,
        background 500ms ease;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}

.top_menu .float-left a:hover {
    color: #ef1337;
}

.top_menu .float-right .pur_btn {
    background: #ef1337;
    color: #fff;
    font-family: "Source Sans Pro", "Roboto", sans-serif;
    line-height: 40px;
    display: block;
    padding: 0 40px;
    font-weight: 500;
    font-size: 12px;
}

.banner_area .banner_inner .overlay {
    background: url(../img/banner/symposium-banner.jpg) no-repeat scroll center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 125%;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
}
